include README.md
include lpfgopt/VERSION.txt
include docs/*
include lpfgopt/*.dll
include lpfgopt/*.pyd
include lpfgopt/*.so
include lpfgopt/*.dylib
include lpfgopt/*.exe
include lpfgopt/so_install.sh
include lpfgopt/so_uninstall.sh
